extends layout.pug

block main
  article
    h1#product-name=product.name
    .row
      .col
        img#product-image(
          alt='product'
          src=`/assets/img/${product.image}`
          )
      .col
        section
          h2 Description
          p#product-desc !{product.description}
        section
          h2 Caract&eacute;ristiques
          ul#product-features
            each feature in product.features
              li=feature
        hr
        form#add-to-cart-form.pull-right(data-product-id=product.id)
          label(for='product-quantity') Quantit&eacute;:
          input#product-quantity.form-control(type='number' value='1' min='1')
          button.btn(title='Ajouter au panier' type='submit')
            i.fa.fa-cart-plus
            | &nbsp; Ajouter
        p
          = `Prix: ${product.price.toFixed(2).replace(".", ",") + " $"}` 
          strong#product-price
    #dialog.dialog
      | Le produit a &eacute;t&eacute; ajout&eacute; au panier.
