extends layout.pug

block main
    section.sidebar(aria-label='Filtres')
      section
        h2 Cat&eacute;gories
        #product-categories.btn-group.vertical
          button(data-category='cameras') Appareils photo
          button(data-category='consoles') Consoles
          button(data-category='screens') &Eacute;crans
          button(data-category='computers') Ordinateurs
          button.selected(data-category='all') Tous les produits
      section
        h2 Classement
        #product-criteria.btn-group.vertical
          button.selected(data-criteria='price-asc') Prix (bas-haut)
          button(data-criteria='price-dsc') Prix (haut-bas)
          button(data-criteria='alpha-asc') Nom (A-Z)
          button(data-criteria='alpha-dsc') Nom (Z-A)
    article
      span#products-count.right-header 13 produits
      h1 Produits
      #products-list.products
        each product in products
          .product(data-product-id=product.id)
            a(
              href=`./produits/${product.id}`
              title="En savoir plus..."
              )
              h2=product.name
              img(
                alt="product"
                src=`/assets/img/${product.image}`
                )
              p.price
                small Prix
                =` ${product.price.toFixed(2).replace(".", ",") + " $"}`
                
                               
block scripts
  script(type='text/javascript' src='/assets/scripts/products.controller.js')
